In [20]:
import os
import pandas as pd
import numpy as np

import seaborn as sns
sns.set()

In [21]:
# Read imputed datasets (MICE)
df = pd.read_csv("Dataset/processed/breast-cancer-wisconsin-imputed.csv")
df

,sample_id,cl_thcknss,size_cell_un,shape_cell_un,marg_adhesion,size_cell_single,bare_nucl,bl_chrmatn,nrml_nucleo,mitoses,class
0,1000025,5.0,1.0,1.0,1.0,2.0,1.0,3.0,1.0,1.0,2
1,1002945,5.0,4.0,4.0,5.0,7.0,10.0,3.0,2.0,1.0,2
2,1015425,3.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1.0,2
3,1016277,6.0,8.0,8.0,1.0,3.0,4.0,3.0,7.0,1.0,2
4,1017023,4.0,1.0,1.0,3.0,2.0,1.0,3.0,1.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1.0,1.0,3.0,2.0,1.0,1.0,1.0,2
695,841769,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2
696,888820,5.0,10.0,10.0,3.0,7.0,3.0,8.0,10.0,2.0,4
697,897471,4.0,8.0,6.0,4.0,3.0,4.0,10.0,6.0,1.0,4
698,897471,4.0,8.0,8.0,5.0,4.0,5.0,10.0,4.0,1.0,4

In [22]:
# Remove the sample_id column
df = df.drop(columns=['sample_id'])
df

,cl_thcknss,size_cell_un,shape_cell_un,marg_adhesion,size_cell_single,bare_nucl,bl_chrmatn,nrml_nucleo,mitoses,class
0,5.0,1.0,1.0,1.0,2.0,1.0,3.0,1.0,1.0,2
1,5.0,4.0,4.0,5.0,7.0,10.0,3.0,2.0,1.0,2
2,3.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1.0,2
3,6.0,8.0,8.0,1.0,3.0,4.0,3.0,7.0,1.0,2
4,4.0,1.0,1.0,3.0,2.0,1.0,3.0,1.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...
694,3.0,1.0,1.0,1.0,3.0,2.0,1.0,1.0,1.0,2
695,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2
696,5.0,10.0,10.0,3.0,7.0,3.0,8.0,10.0,2.0,4
697,4.0,8.0,6.0,4.0,3.0,4.0,10.0,6.0,1.0,4
698,4.0,8.0,8.0,5.0,4.0,5.0,10.0,4.0,1.0,4

In [23]:
# Get information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cl_thcknss        699 non-null    float64
 1   size_cell_un      699 non-null    float64
 2   shape_cell_un     699 non-null    float64
 3   marg_adhesion     699 non-null    float64
 4   size_cell_single  699 non-null    float64
 5   bare_nucl         699 non-null    float64
 6   bl_chrmatn        699 non-null    float64
 7   nrml_nucleo       699 non-null    float64
 8   mitoses           699 non-null    float64
 9   class             699 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 54.7 KB

In [24]:
# Get descriptive statistics of the data
df.describe()

,cl_thcknss,size_cell_un,shape_cell_un,marg_adhesion,size_cell_single,bare_nucl,bl_chrmatn,nrml_nucleo,mitoses,class
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.526567,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,3.618696,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.605359,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.955306,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [25]:
#Create pair plots to shows the relationship between the variables
sns.pairplot(df)

In [26]:
#Create heatmap to show correlations between variables
sns.heatmap(df.corr(), annot=True, fmt='.2f')